body {
    background-image: url("download.jpg");
    /* background: rgb(250, 214, 220); */
    color: rgb(0, 0, 0);
    font-family: Arial;
}

ul {
    list-style: none;
    top: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
}

li {
    position: absolute;
    transform-origin: 50% 100%;
    height: 160px;
}

.hours {
    left: 120px;
    font-size: 23.333333333px;
    letter-spacing: -1.7px;
    line-height: 45px;
}

.hours li {
    width: 80px;
}

.hours span {
    display: block;
}

.hours li:nth-of-type(1) {
    transform: rotate(30deg);
}

.hours li:nth-of-type(1) span {
    transform: rotate(-30deg);
}

.hours li:nth-of-type(2) {
    transform: rotate(60deg);
}

.hours li:nth-of-type(2) span {
    transform: rotate(-60deg);
}

.hours li:nth-of-type(3) {
    transform: rotate(90deg);
}

.hours li:nth-of-type(3) span {
    transform: rotate(-90deg);
}

.hours li:nth-of-type(4) {
    transform: rotate(120deg);
}

.hours li:nth-of-type(4) span {
    transform: rotate(-120deg);
}

.hours li:nth-of-type(5) {
    transform: rotate(150deg);
}

.hours li:nth-of-type(5) span {
    transform: rotate(-150deg);
}

.hours li:nth-of-type(6) {
    transform: rotate(180deg);
}

.hours li:nth-of-type(6) span {
    transform: rotate(-180deg);
}

.hours li:nth-of-type(7) {
    transform: rotate(210deg);
}

.hours li:nth-of-type(7) span {
    transform: rotate(-210deg);
}

.hours li:nth-of-type(8) {
    transform: rotate(240deg);
}

.hours li:nth-of-type(8) span {
    transform: rotate(-240deg);
}

.hours li:nth-of-type(9) {
    transform: rotate(270deg);
}

.hours li:nth-of-type(9) span {
    transform: rotate(-270deg);
}

.hours li:nth-of-type(10) {
    transform: rotate(300deg);
}

.hours li:nth-of-type(10) span {
    transform: rotate(-300deg);
}

.hours li:nth-of-type(11) {
    transform: rotate(330deg);
}

.hours li:nth-of-type(11) span {
    transform: rotate(-330deg);
}

.hours li:nth-of-type(12) {
    transform: rotate(360deg);
}

.hours li:nth-of-type(12) span {
    transform: rotate(-360deg);
}


.line {
    width: 2px;
    height: 4px;
    background-color: rgb(6, 27, 54);
    position: absolute;
    left: 50%;
    top: 278px;
    transform-origin: 0 160px;
}

.line:nth-child(5n+1) {width: 4px; height: 7px; background-color: rgb(150, 3, 3);}

.line:nth-child(1) {transform: translateY(-165px);}
/* .line:nth-child(x) {transform: translateY(-165px) rotateZ(calc((calc(x)-1)* 360deg / 60));} */
.line:nth-child(2) {transform: translateY(-165px) rotateZ(calc(360deg / 60));}
.line:nth-child(3) {transform: translateY(-165px) rotateZ(calc(2 * 360deg / 60));}
.line:nth-child(4) {transform: translateY(-165px) rotateZ(calc(3 * 360deg / 60));}
.line:nth-child(5) {transform: translateY(-165px) rotateZ(calc(4 * 360deg / 60));}
.line:nth-child(6) {transform: translateY(-165px) rotateZ(calc(5 * 360deg / 60));}
.line:nth-child(7) {transform: translateY(-165px) rotateZ(calc(6 * 360deg / 60));}
.line:nth-child(8) {transform: translateY(-165px) rotateZ(calc(7 * 360deg / 60));}
.line:nth-child(9) {transform: translateY(-165px) rotateZ(calc(8 * 360deg / 60));}
.line:nth-child(10) {transform: translateY(-165px) rotateZ(calc(9 * 360deg / 60));}
.line:nth-child(11) {transform: translateY(-165px) rotateZ(calc(10 * 360deg / 60));}
.line:nth-child(12) {transform: translateY(-165px) rotateZ(calc(11 * 360deg / 60));}
.line:nth-child(13) {transform: translateY(-165px) rotateZ(calc(12 * 360deg / 60));}
.line:nth-child(14) {transform: translateY(-165px) rotateZ(calc(13 * 360deg / 60));}
.line:nth-child(15) {transform: translateY(-165px) rotateZ(calc(14 * 360deg / 60));}
.line:nth-child(16) {transform: translateY(-165px) rotateZ(calc(15 * 360deg / 60));}
.line:nth-child(17) {transform: translateY(-165px) rotateZ(calc(16 * 360deg / 60));}
.line:nth-child(18) {transform: translateY(-165px) rotateZ(calc(17 * 360deg / 60));}
.line:nth-child(19) {transform: translateY(-165px) rotateZ(calc(18 * 360deg / 60));}
.line:nth-child(20) {transform: translateY(-165px) rotateZ(calc(19 * 360deg / 60));}
.line:nth-child(21) {transform: translateY(-165px) rotateZ(calc(20 * 360deg / 60));}
.line:nth-child(22) {transform: translateY(-165px) rotateZ(calc(21 * 360deg / 60));}
.line:nth-child(23) {transform: translateY(-165px) rotateZ(calc(22 * 360deg / 60));}
.line:nth-child(24) {transform: translateY(-165px) rotateZ(calc(23 * 360deg / 60));}
.line:nth-child(25) {transform: translateY(-165px) rotateZ(calc(24 * 360deg / 60));}
.line:nth-child(26) {transform: translateY(-165px) rotateZ(calc(25 * 360deg / 60));}
.line:nth-child(27) {transform: translateY(-165px) rotateZ(calc(26 * 360deg / 60));}
.line:nth-child(28) {transform: translateY(-165px) rotateZ(calc(27 * 360deg / 60));}
.line:nth-child(29) {transform: translateY(-165px) rotateZ(calc(28 * 360deg / 60));}
.line:nth-child(30) {transform: translateY(-165px) rotateZ(calc(29 * 360deg / 60));}
.line:nth-child(31) {transform: translateY(-165px) rotateZ(calc(30 * 360deg / 60));}
.line:nth-child(32) {transform: translateY(-165px) rotateZ(calc(31 * 360deg / 60));}
.line:nth-child(33) {transform: translateY(-165px) rotateZ(calc(32 * 360deg / 60));}
.line:nth-child(34) {transform: translateY(-165px) rotateZ(calc(33 * 360deg / 60));}
.line:nth-child(35) {transform: translateY(-165px) rotateZ(calc(34 * 360deg / 60));}
.line:nth-child(36) {transform: translateY(-165px) rotateZ(calc(35 * 360deg / 60));}
.line:nth-child(37) {transform: translateY(-165px) rotateZ(calc(36 * 360deg / 60));}
.line:nth-child(38) {transform: translateY(-165px) rotateZ(calc(37 * 360deg / 60));}
.line:nth-child(39) {transform: translateY(-165px) rotateZ(calc(38 * 360deg / 60));}
.line:nth-child(40) {transform: translateY(-165px) rotateZ(calc(39 * 360deg / 60));}
.line:nth-child(41) {transform: translateY(-165px) rotateZ(calc(40 * 360deg / 60));}
.line:nth-child(42) {transform: translateY(-165px) rotateZ(calc(41 * 360deg / 60));}
.line:nth-child(43) {transform: translateY(-165px) rotateZ(calc(42 * 360deg / 60));}
.line:nth-child(44) {transform: translateY(-165px) rotateZ(calc(43 * 360deg / 60));}
.line:nth-child(45) {transform: translateY(-165px) rotateZ(calc(44 * 360deg / 60));}
.line:nth-child(46) {transform: translateY(-165px) rotateZ(calc(45 * 360deg / 60));}
.line:nth-child(47) {transform: translateY(-165px) rotateZ(calc(46 * 360deg / 60));}
.line:nth-child(48) {transform: translateY(-165px) rotateZ(calc(47 * 360deg / 60));}
.line:nth-child(49) {transform: translateY(-165px) rotateZ(calc(48 * 360deg / 60));}
.line:nth-child(50) {transform: translateY(-165px) rotateZ(calc(49 * 360deg / 60));}
.line:nth-child(51) {transform: translateY(-165px) rotateZ(calc(50 * 360deg / 60));}
.line:nth-child(52) {transform: translateY(-165px) rotateZ(calc(51 * 360deg / 60));}
.line:nth-child(53) {transform: translateY(-165px) rotateZ(calc(52 * 360deg / 60));}
.line:nth-child(54) {transform: translateY(-165px) rotateZ(calc(53 * 360deg / 60));}
.line:nth-child(55) {transform: translateY(-165px) rotateZ(calc(54 * 360deg / 60));}
.line:nth-child(56) {transform: translateY(-165px) rotateZ(calc(55 * 360deg / 60));}
.line:nth-child(57) {transform: translateY(-165px) rotateZ(calc(56 * 360deg / 60));}
.line:nth-child(58) {transform: translateY(-165px) rotateZ(calc(57 * 360deg / 60));}
.line:nth-child(59) {transform: translateY(-165px) rotateZ(calc(58 * 360deg / 60));}
.line:nth-child(60) {transform: translateY(-165px) rotateZ(calc(59 * 360deg / 60));}


#clock {
    background: rgb(166, 240, 240);
    border: 14px solid #222;
    border-radius: 50%;
    position: relative;
    width: 320px;
    height: 320px;
    margin: 100px auto;
}

.hr-hand,
.min-hand,
.sec-hand {
    position: absolute;
    width: 320px;
    height: 320px;
}

.hand {
    position: absolute;
    bottom: 51%;
    transform-origin: 50% 100%;
}

.hr {
    background: #222;
    left: 151px;
    width: 14px;
    height: 85px;
    border-radius: 11px;
    animation: rotateHand 43200s linear infinite;
}

.hr:after {
    background: #222;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    width: 13px;
    height: 16px;
}

.min {
    background: #222;
    left: 155px;
    width: 9px;
    height: 125px;
    border-radius: 8px;
    animation: rotateHand 3600s linear infinite;
}

.min:after {
    background: #222;
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    bottom: -8px;
    width: 9px;
    height: 17px;
}

.sec {
    background: #d00;
    left: 156.5px;
    width: 5px;
    height: 132px;
    border-radius: 8px;
    animation: rotateHand 60s linear infinite;
}

.sec:after {
    background: rgb(204, 2, 2);
    border-radius: 50%;
    content: "";
    display: block;
    position: absolute;
    bottom: -3.5px;
    width: 5px;
    height: 7px;
}

@keyframes rotateHand {
    to {
        transform: rotate(1turn);
    }
} 